body {
    margin: 0;
    font-family: sans-serif;
}

img {
    width: 100px;
    height: 100px;
    margin: 20px 10px;
}

h1 {
    color: #888;
    margin: 20px;
    font-size: 15px;
}

a {
    margin: 25px;

}
